---
export async function getStaticPaths() {
    const url = "https://xnuptxxrxfdladlzrict.supabase.co";
    const artists = await fetch(url, {
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhudXB0eHhyeGZkbGFkbHpyaWN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzQ1NjAsImV4cCI6MjA0NDIxMDU2MH0.RGy9b8YR0QZ5kbRBGPOLnBDCk0uhTzlYqKZgTkuw6HQ",
        },
    }).then(res=>res.json())
  
  return artists.map(artist => ({
      params: { artist: artist.slug }, // [artist]=artist.slug
      props: { artist } // send al data med som props
    }))
}
const { artist } = Astro.props;

console.log(artist) // artist.name, artist.image osv.
---
<!--  OBS får error her <h1>{artist.name}</h1> -->


<!-- Vi har lavet denne
 ---
export function getStaticPaths() {
    return [
        {params: {artist: "pai-lin"}, props {name: "Pai-Lin"}},
    {params: {artist: "nandu"}, props {name: "Nandu"}}
    ];
}

const {artist} = Astro.params;
const {name} = Astro.props;
---

<h1>En side om {name}</h1> -->