---
//Lineup/Listview Katinka med statisk program
import MainLayout from "../../layout/MainLayout.astro";
import Header from "../../layout/Header.astro";
import GoBackArrow from "../../components/GoBackArrow.astro";
import Search from "../../components/Search.astro";
import Button from "../../components/Button.astro";
import StaticProgram from "../../components/StaticProgram.astro";
import ArtistInfo from "../../components/ArtistInfo.astro";
import Footer from "../../layout/Footer.astro";
import ScrollToTop from "../../components/ScrollToTop.astro";

const url = "https://xnuptxxrxfdladlzrict.supabase.co/rest/v1/Kunstnere";
const options = {
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhudXB0eHhyeGZkbGFkbHpyaWN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzQ1NjAsImV4cCI6MjA0NDIxMDU2MH0.RGy9b8YR0QZ5kbRBGPOLnBDCk0uhTzlYqKZgTkuw6HQ",
        },
    }

const artists = await fetch(url, options).then(res=>res.json());
console.log(artists);
---

<MainLayout>
    <Header/>
    <h1 class="lineup">LINEUP 2025</h1>
    <GoBackArrow/>
    <div id="search">
    <Search/>
    </div>
    <a class= "button" href="#artist_list"><Button buttontext="Check out this year’s artists"/></a>
     <h1 class="program">PROGRAM</h1>
     <nav>
       <a href="#thursday">- THURSDAY</a>
       <a href="#friday">- FRIDAY</a>
       <a href="#saturday">- SATURDAY</a>
     </nav>
<div class="program_background">
     <StaticProgram/>
    </div>

   <h1 class="thisyears">THIS YEAR'S ARTISTS</h1>
    <ul>
        {
            artists.map((artist) => (
                <ArtistInfo artist={artist}/>
            ))
        }
    </ul>

    <ScrollToTop />
    <Footer/>
</MainLayout>

<style>
/**FONTS */
@font-face {
  font-family: "jhc_audemarsmedium";
  src: url("/public/fonts/audemars/jhcaudemars-medium-webfont.woff2") format("woff2"),
    url("/public/fonts/audemars/jhcaudemars-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bacilus_grotesqueregular";
  src: url("/public/fonts/bacilus/bacilusgrotesque-regular-webfont.woff2")
      format("woff2"),
    url("/public/fonts/bacilus/bacilusgrotesque-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
#search {
    display: flex;
    justify-content: center;
}
.program_background{
    background-image: url('../imgs/image5.webp');
    padding-bottom: 2rem;
}
    .lineup {
    text-align: center;

    }
    .program {
        margin-left: 5rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .thisyears{
        margin-left: 5rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
    }
    a {
    margin-left: 1rem;
    }
    .button {
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    h3 {
    margin-top: 3rem;
    margin-left: 2rem;
    
    }
    nav {
        display: flex;
        margin-left: 1.5rem;
        padding-bottom: 3rem;
    }
    ul {
        margin-bottom: 7rem;
    }
    @media (max-width: 800px){
    .lineup, .program, .thisyears {
        text-align: center;
        margin: 1rem;
    }
} 
</style>