---
import "../styles/groen.css";
import MainLayout from "../layout/MainLayout.astro";
import Header from "../layout/Header.astro";
import Search from "../components/Search.astro";
import Footer from "../layout/Footer.astro";
---


<MainLayout>
<Header/>
<h1>KARRUSEL FESTIVAL<br>28. - 30. AUGUST 2025</h1>
<Search/>
<Footer/>
</MainLayout>

