---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../layout/Header.astro";
import Search from "../components/Search.astro";
import Button from "../components/Button.astro";
import ProgramSection from "../components/ProgramSection.astro";
import ArtistList from "../components/ArtistList.astro";
import Footer from "../layout/Footer.astro";
---
<!--Katinka -->

<MainLayout>
<Header/>
  <h1>LINEUP 2025</h1>
 <Search/>
  <Button buttontext="Check out this year’s artists" />
  <h1>PROGRAM</h1>
  <nav>
    <a href="#thursday">- THURSDAY</a>
    <a href="#friday">- FRIDAY</a>
    <a href="#saturday">- SATURDAY</a>
  </nav>
  <h3 id="thursday">- THURSDAY</h3>
<ProgramSection/>
<h3 id="friday">- FRIDAY</h3>
<ProgramSection/>
<h3 id="saturday">- SATURDAY</h3>
<ProgramSection/>
<h1>THIS YEAR'S ARTISTS</h1>
<ArtistList/>
  <Footer/>
</MainLayout>

<style>
    h1 {
    margin: 5rem;
    }
    a {
    margin-left: 1rem;
    }
    h3 {
    margin-top: 3rem;
    margin-left: 2rem;
    }
    nav {
        display: flex;
        margin-left: 1.5rem;
    }
</style>