---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../layout/Header.astro";
import Footer from "../layout/Footer.astro";
import Button from "../components/Button.astro";
import Interactivemap from "../components/interactivemap.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import GoBackArrow from "../components/GoBackArrow.astro";
---
<!--Maja -->

<MainLayout>
  <Header />
  <h1>MAP OF THE FESTIVAL AREA</h1>
  <GoBackArrow/>
  <a href="../artists/" class="button"> <Button buttontext="Lineup 2025" /></a>
 
  <Interactivemap/>

 <ScrollToTop />
  <Footer />
</MainLayout>

<style>
  h1 {
    text-align: center; 
        padding-top: 1em;
        padding-bottom: 40px;
      }

  .button {
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    
</style>
 