---
const { buttontext } = Astro.props;
---

<button class="button" type="button">{buttontext}</button>

<style>
  .button {
    background-color: var(--tertiary);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: var(--font2);
  }

  .button:hover {
    background-color: var(--quinary);
  }
  @media (min-width: 800px) {
    .button {
      padding: 15px 30px; /* Gør knappen større */
      font-size: 20px; /* Gør teksten større */
    }
  }
</style>
