---
const { buttontext } = Astro.props;
---

<button class="button" type="button">{buttontext}</button>

<style>
  .button {
    background-color: var(--tertiary);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button:hover {
    background-color: var(--quinary);
  }
</style>
