---
---


<button class="back-button" id="backButton">
    <img src="/svg/Arrowup.svg" alt="arrow to go back" />
</button>

<style>
.back-button {
    position: fixed top; 
    transform: rotate(270deg); 
    bottom: 70%;  
    left: 5px;
    background-color: transparent; 
    border: none;    
    border-radius: 10px; 
    padding: 10px;   
    cursor: pointer;     
    z-index: 1000;   
}
.back-button img {
    width: 55px; 
    height: auto;
}
.back-button:hover {
    left: 15px;
    transition: ease-in-out 0.3s;
}
</style>

<script>
       document.getElementById('backButton').addEventListener('click', function() {
        window.history.back(); 
    });
</script>