<!-- OBS får ikke til at lave dynamisk
 ---
import ProgramCard from "./ProgramCard.astro";

const url = "https://xnuptxxrxfdladlzrict.supabase.co/rest/v1/Kunstnere";
const options = {
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhudXB0eHhyeGZkbGFkbHpyaWN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg2MzQ1NjAsImV4cCI6MjA0NDIxMDU2MH0.RGy9b8YR0QZ5kbRBGPOLnBDCk0uhTzlYqKZgTkuw6HQ",
        },
    }

const artists = await fetch(url, options).then(res=>res.json());
console.log(artists);
---
Katinka

<section class="program_section">
<ProgramCard/>
</section>

<style>
    .program_section {
        text-align: center;
        margin: 2rem;
        display: flex;
    }
    
    /**Desktop styling */
    @media (min-width: 800px) {
    .program_section {
    display: flex;
    justify-content: space-evenly;
    }      
    }
    </style> -->