---
import Program from "../components/Program.astro";
---

<article>
    <h4>MANEGEN</h4>
    <Program/>
    <Program/>
    <Program/>
    <Program/>
    <Program/>
</article>

<style>
article {
    background-color: var(--quinary);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
h4 {
    color: var(--quaternary);
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
</style>