---

---
<!--Katinka -->
<article>
<p class="artist">Artist</p>
<p class="time">Kl. 18.00</p>
</article>

<style>
    article {
        text-align: center;
    }
    .artist {
        color: var(--quaternary);
    }
    .time {
        color: var(--secondary);
        margin-top: .5rem;
        margin-bottom: 2rem;
    }
</style>