---

---
<!--Katinka Vi bruger dette program hvis jeg ikke formår at gøre programmet dynamisk :( -->
<h3 id="thursday">- THURSDAY</h3>
<section class="program_section_thursday">
<article class="manegen">
<h4>MANEGEN</h4>
<p class="artist">Teison B2B<br>Pai-Lin</p>
<p class="time">Kl. 18.00</p>
<p class="artist">Nandu</p>
<p class="time">Kl. 20.00</p>
<p class="artist">Pretty Girl Live</p>
<p class="time">Kl. 21.50</p>
<p class="artist">Ben Böhmer Live</p>
<p class="time">Kl. 23.15</p>
</article>
<article class="tribunen">
    <h4>TRIBUNEN</h4>
    <p class="artist">Aja Gulris</p>
    <p class="time">Kl. 18.00</p>
    <p class="artist">Minimalene</p>
    <p class="time">Kl. 19.30</p>
    <p class="artist">Onni</p>
    <p class="time">Kl. 21.00</p>
    <p class="artist">Aelva K</p>
    <p class="time">Kl. 23.00</p>
    </article>
    <article class="balkonen">
        <h4>BALKONEN</h4>
        <p class="artist">Nappo</p>
        <p class="time">Kl. 18.00</p>
        <p class="artist">Dust Masta Hiss</p>
        <p class="time">Kl. 19.30</p>
        <p class="artist">Anthon Stacks</p>
        <p class="time">Kl. 21.00</p>
        <p class="artist">Jesper Lemke</p>
        <p class="time">Kl. 23.00</p>
        </article>
        <article class="arkaden">
            <h4>ARKADEN</h4>
            <p class="artist">Jolie</p>
            <p class="time">Kl. 18.00</p>
            <p class="artist">Tjiquita</p>
            <p class="time">Kl. 20.00</p>
            <p class="artist">Paydar</p>
            <p class="time">Kl. 21.30</p>
            <p class="artist">!Harty!</p>
            <p class="time">Kl. 22.30</p>
            </article>
</section>
<h3 id="friday">- FRIDAY</h3>
<section class="program_section_friday">
    <article class="manegen">
    <h4>MANEGEN</h4>
    <p class="artist">Leoh</p>
    <p class="time">Kl. 18.00</p>
    <p class="artist">Harrison Heat</p>
    <p class="time">Kl. 19.30</p>
    <p class="artist">X Club</p>
    <p class="time">Kl. 21.00</p>
    <p class="artist">Marlon Hoffstadt</p>
    <p class="time">Kl. 23.00</p>
    <p class="artist">Anetha</p>
    <p class="time">Kl. 01.00</p>
    <p class="artist">Juicy Romance</p>
    <p class="time">Kl. 03.00</p>
    </article>
    <article class="tribunen">
        <h4>TRIBUNEN</h4>
        <p class="artist">Tadoh</p>
        <p class="time">Kl. 18.00</p>
        <p class="artist">Emma Sø</p>
        <p class="time">Kl. 20.00</p>
        <p class="artist">Planet Caravan</p>
        <p class="time">Kl. 22.00</p>
        <p class="artist">Viken Arman</p>
        <p class="time">Kl. 00.00</p>
        <p class="artist">Oberst & Buchner</p>
        <p class="time">Kl. 02.00</p>
        </article>
        <article class="balkonen">
            <h4>BALKONEN</h4>
            <p class="artist">Kipanga</p>
            <p class="time">Kl. 18.00</p>
            <p class="artist">Dingo Tracks</p>
            <p class="time">Kl. 19.30</p>
            <p class="artist">Handless DJ</p>
            <p class="time">Kl. 21.00</p>
            <p class="artist">Kipanga</p>
            <p class="time">Kl. 22.30</p>
            <p class="artist">Moqst</p>
            <p class="time">Kl. 23.30</p>
            <p class="artist">Dingo Tracks</p>
            <p class="time">Kl. 02.00</p>
            <p class="artist">Handless DJ</p>
            <p class="time">Kl. 03.00</p>
            </article>
            <article class="arkaden">
                <h4>ARKADEN</h4>
                <p class="artist">DJ Lukey</p>
                <p class="time">Kl. 18.00</p>
                <p class="artist">Gavnlig</p>
                <p class="time">Kl. 21.00</p>
                <p class="artist">DJ Nap</p>
                <p class="time">Kl. 23.00</p>
                <p class="artist">N. E. Girl</p>
                <p class="time">Kl. 01.00</p>
                </article>
    </section>
    <h3 id="saturday">- SATURDAY</h3>
    <section class="program_section_saturday">
        <article class="manegen">
        <h4>MANEGEN</h4>
        <p class="artist">Peachlyfe</p>
        <p class="time">Kl. 18.00</p>
        <p class="artist">Nene H</p>
        <p class="time">Kl. 19.30</p>
        <p class="artist">Job Jobse</p>
        <p class="time">Kl. 21.00</p>
        <p class="artist">Ki/Ki</p>
        <p class="time">Kl. 23.00</p>
        <p class="artist">Sama'Abdulhadi</p>
        <p class="time">Kl. 01.00</p>
        </article>
        <article class="tribunen">
            <h4>TRIBUNEN</h4>
            <p class="artist">Bongo & Pusk</p>
            <p class="time">Kl. 18.00</p>
            <p class="artist">Leni</p>
            <p class="time">Kl. 20.30</p>
            <p class="artist">Dave Dinger & Avocado</p>
            <p class="time">Kl. 23.00</p>
            <p class="artist">Doob & Janoma</p>
            <p class="time">Kl. 01.00</p>
            </article>
            <article class="balkonen">
                <h4>BALKONEN</h4>
                <p class="artist">Boogie Rookie</p>
                <p class="time">Kl. 18.00</p>
                <p class="artist">Wille</p>
                <p class="time">Kl. 19.00</p>
                <p class="artist">Nixxon</p>
                <p class="time">Kl. 21.00</p>
                <p class="artist">Tommiboy</p>
                <p class="time">Kl. 23.00</p>
                <p class="artist">Boogie Rookie</p>
                <p class="time">Kl. 01.00</p>
                </article>
                <article class="arkaden">
                    <h4>ARKADEN</h4>
                    <p class="artist">Øre Snu</p>
                    <p class="time">Kl. 18.00</p>
                    <p class="artist">RMZ</p>
                    <p class="time">Kl. 20.00</p>
                    <p class="artist">Fia</p>
                    <p class="time">Kl. 22.00</p>
                    <p class="artist">B from E</p>
                    <p class="time">Kl. 00.00</p>
                    </article>
        </section>

<style>
    section {
        text-align: center;
        margin: 2rem;
        display: flex;
        flex-direction: column;
    }
    article {
    background-color: var(--quinary);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
}
h3 {
    padding-top: 2rem;
    margin-left: 2rem;
}
h4 {
    color: var(--quaternary);
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
a {
    text-decoration: none;
}
    .artist {
        color: var(--quaternary);
    }
    .time {
        color: var(--secondary);
        margin-top: .5rem;
        margin-bottom: 2rem;
    }
    
    /**Desktop styling */
    @media (min-width: 800px) {
    section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }      
    }
    </style>



