---

---

<!--Grøn -->
<footer>
    <p>
      Contact Information:<br />
      Refshalevej 193<br />
      1432 Copenhagen<br />
      info@nusnus.dk
    </p>
    <div class="social_media">
      <a href="https://www.facebook.com/karruselfest"
        ><img src="svg/groenfacebook.svg" alt="facebook"
      /></a>
      <a href="https://www.instagram.com/karruselfest/"
        ><img src="svg/groeninstagram.svg" alt="instagram"
      /></a>
      <a href="https://www.youtube.com/@karruselcopenhagen557/videos"
        ><img src="svg/groenyoutube.svg" alt="youtube"
      /></a>
    </div>
  </footer>

  <!--Lilla -->
<footer>
    <p>
      Contact Information:<br />
      Refshalevej 193<br />
      1432 Copenhagen<br />
      info@nusnus.dk
    </p>
    <div class="social_media">
      <a href="https://www.facebook.com/karruselfest"
        ><img src="svg/lillafacebook.svg" alt="facebook"
      /></a>
      <a href="https://www.instagram.com/karruselfest/"
        ><img src="svg/lillainstagram.svg" alt="instagram"
      /></a>
      <a href="https://www.youtube.com/@karruselcopenhagen557/videos"
        ><img src="svg/lillayoutube.svg" alt="youtube"
      /></a>
    </div>
  </footer>

  <style>
/**Styling Footer**/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.social_media {
  display: flex;
  justify-content: left;
  gap: 15px;
}
.social_media img {
  width: 1.5rem;
}
/**Ændrer størrelsen på icons i desktop**/
@media (min-width: 800px) {
  .social_media img {
    width: 2.5rem;
  }
}
  </style>
