---

---


<!--Grøn -->
<header>
    <div class="logo">
      <a href="index.html">
        <img src="svg/groenlogo.svg" alt="Logo" />
      </a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="lineup.html">LINEUP 2025</a></li>
        <li><a href="map.html">MAP</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </header>


  <!--Lilla -->
  <header>
    <div class="logo">
      <a href="index.html">
        <img src="svg/lillalogo.svg" alt="Logo" />
      </a>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="index.html">HOME</a></li>
        <li><a href="lineup.html">LINEUP 2025</a></li>
        <li><a href="map.html">MAP</a></li>
      </ul>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>
  </header>

  <style>
    
  </style>
